* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor1: #d28200;
    --cor2: #ffd8ac;
}

body {
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 300px;
}

div.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--cor1);
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor1);
}

strong {
    color: var(--cor1);
}

summary {
    color: var(--cor1);
    margin-bottom: 10px;
    cursor: pointer;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

ul {
    margin-left: 10px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

input[type=number] {
    border: 2px solid var(--cor1);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

td {
    border: 1px solid var(--cor1);
    padding: 5px 10px;
}